$textColor: var(--primary-color-);
.root {
  position: fixed;
  top: 27px;
  width: 100%;
  z-index: 10000;
  transition: all 0.25s ease-in-out;
  .header {
    z-index: 1000;
    width: 100%;
    transition: all 0.25s ease-in-out;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 6px 0;
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 1242px;
      margin: 0 auto;

      .logo {
        cursor: pointer;
        width: 100px;
        margin-left: 20px;
        img {
          width: 100%;
        }
      }
      .menu {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding-left: 20px;
        transform-origin: top;
        transition: all 0.25s ease-in-out;

        li {
          display: flex;
          flex-direction: column;
          margin: 0 10px;
          position: relative;
          h4 {
            text-transform: uppercase;
            color: $textColor;
            position: relative;
            font-weight: 500;
            margin: 0 10px;
            transition: all 0.25s ease-in-out;
            padding-bottom: 10px;
            &:hover {
              background: transparent;
              color: var(--color-hover-);
            }
          }
          &:hover .line {
            width: 50%;
            transition: all 0.25s ease-in-out;
          }
          .line {
            position: relative;
            transform: translateY(-100%);
            background-color: var(--primary-color-);
            margin: auto;
            width: 0;
            height: 6px;
            border-radius: 6px;
            transition: all 0.25s ease-in-out;
          }
          .line.active {
            width: 50%;
          }
          h4.active {
            color: var(--color-hover-);
          }
        }
      }

      .controls {
        display: none;
        flex-direction: row;
        .btnMenu {
          cursor: pointer;
          width: 26px;
          height: 30px;
          background-color: rgba(146, 141, 141, 0.1);
          border-radius: 4px;
          display: flex;
          margin-top: 6px;
        }
      }
    }
  }
  .projectsList {
    list-style: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--primary-color-);
    flex-direction: row;
    bottom: 0;
    width: 100%;
    z-index: 100000;
    justify-content: flex-end;
    padding-right: 200px;
    padding-bottom: 10px;
    transition: all 0.25s ease-in-out;
    transform: scaleY(0);
    transform-origin: top;
    display: flex;
    border-bottom: 1px solid rgba(192, 17, 17, 0.3);
    li {
      margin: 0px 10px;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
      &:hover {
        transform: translateY(-4px);
        color: rgba(192, 17, 17, 0.75);
      }
    }
  }
  .projectsList.active {
    transform: scaleY(1);
  }
}
.root.hiddenContact {
  top: 0;

}

@media (max-width: 1920px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 960px) {
  .root {
    .header {
      .container {
        justify-content: space-between;
        position: relative;

        .logo {
          img {
            width: 100px;
            // height: 100%;
            cursor: pointer;
          }
        }
        .menu {
          background-color: #fff;

          display: flex;
          flex-direction: column;
          position: absolute;
          transform: scaleY(0);
          top: 60px;
          width: 100%;
          transition: all 0.25s ease-in-out;
          li {
            margin: 20px 10px 10px;
            cursor: pointer;
            h4 {
            }
            &:hover .line {
              width: 100%;
              left: 0;
            }

            .line.active {
              width: 100%;
            }
          }
        }
        .menu.active {
          transform: scaleY(1);
        }
        .controls {
          display: flex;
          width: 100%;
          justify-content: flex-end;
          margin-right: 20px;
          .btnMenu {
            display: flex;
            margin-top: 6px;
          }
        }
      }
    }
    .projectsList {
      display: none !important;
    }
    .projectsList.active {
      display: none !important;
    }
  }
}
@media (max-width: 600px) {
  .root {
    .header {
      .container {
        justify-content: space-between;
        position: relative;

        .logo {
          img {
            width: 100px;
            // height: 100%;
            cursor: pointer;
          }
        }
        .menu {
          background-color: #fff;

          display: flex;
          flex-direction: column;
          position: absolute;
          transform: scaleY(0);
          top: 60px;
          width: 100%;
          transition: all 0.25s ease-in-out;
          li {
            margin: 20px 10px 10px;
            cursor: pointer;
            h4 {
            }
            &:hover .line {
              width: 100%;
              left: 0;
            }

            .line.active {
              width: 100%;
            }
          }
        }
        .menu.active {
          transform: scaleY(1);
        }
        .controls {
          display: flex;
          width: 100%;
          justify-content: flex-end;
          margin-right: 20px;
          .btnMenu {
            display: flex;
            margin-top: 6px;
          }
        }
      }
    }
    .projectsList {
      display: none !important;
    }
    .projectsList.active {
      display: none !important;
    }
  }
}
