$textColor: var(--primary-color-);
.container {
  position: fixed;
  top: 29px;
  z-index: 10;
  padding: 0 5px;
  transition: all 0.5s ease;
  background: rgba(247, 247, 247, 0.8);
  height: auto;
  display: flex;
  &:hover {
    padding-bottom: 60px;
  }

  .logo {
    img {
      width: 100px;
      height: 100%;
      cursor: pointer;
    }
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    li {
      text-transform: uppercase;
      color: $textColor;
      position: relative;
      &:hover {
        background: transparent;
        color: var(--color-hover-);
      }
      &::after {
        transition: all 0.5s ease-in-out;
        content: "";
        height: 2px;
        position: absolute;
        width: 0;
        left: 50%;
        bottom: 0px;
        transform: translateX(-50%);
        background-color: $textColor;
      }

      &:hover::after {
        width: 30%;
        left: 50%;
      }
    }
    .dropList {
      position: relative;
      .dropdown {
        position: absolute;
        opacity: 0;
        display: flex;
        bottom: -60px;
        left: 0px;
        transition: all 0.3s ease;
        width: 300px;
        p {
          font-size: 0.8rem;
          margin-right: 5px;
          color: var(--primary-color-);
        }
      }
      &:hover {
        .dropdown {
          opacity: 1;
        }
      }
    }
  }
}
