.introduce {
  margin-top: 100px;
  margin-bottom: 100px;
  .page_introduce {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    ul {
      padding: 0;
      .page {
        padding: 13.125px;
        float: left;
        width: 30%;
        position: sticky;
        top: 50px;
        .title {
          margin-top: 58px;
          float: left;
          width: 100%;
          border-bottom: 1px solid #eee;
          margin-bottom: 8px;
          h2 {
            margin: 0;
            float: left;
            color: #333;
            font-size: 24px;
            font-family: "gillsansregular";
            text-transform: uppercase;
            padding: 0 0 15px;
            border-bottom: 2px solid var(--primary-color-);
          }
        }
        li {
          float: left;
          width: 100%;
          .active_tabs {
            color: var(--primary-color-);
          }
          .tabs {
          }
          span {
            cursor: pointer;
            float: left;
            width: 100%;
            color: var(--text-color-);
            padding-top: 9px;
            padding-bottom: 10px;
            font-size: 12px;
            text-transform: uppercase;
            font-family: "gillsansregular";
            border-bottom: 1px solid #eee;
            &:hover {
              color: var(--color-hover-);
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
      .Staff {
        padding: 0 13.125px;
        float: right;
        width: 70%;
        .page_title {
          position: relative;
          color: var(--primary-color-);
          font-size: 26px;
          font-family: "gillsansregular";
          padding: 0 0 5px;
          text-shadow: 0 0 1px rgb(0 102 178 / 30%);
          text-transform: uppercase;
          line-height: 30px;
        }
        .page_content {
          h1 {
            font-size: 20px;
            margin-bottom: 10px;
          }
          .profile {
            .media_left {
              width: 155px;
              height: 100px;
              img {
                width: 100%;
              }
            }
            .media_body {
              p {
                font-style: italic;
              }
            }
          }
          .gioithieucongty {
            h3 {
              font-size: 16px;
              color: #686868;
            }
            p {
              color: #686868;

              padding: 10px;
              font-size: 14px;
              margin-top: -5px;
              font-weight: 700;
            }
            .video {
              iframe {
                width: 100%;
              }
            }
          }
          ul {
            li {
              p {
                color: #686868;
              }
            }
          }
        }
        .content {
          display: none;
        }
        .active_content {
          display: block;
        }
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .introduce {
    margin-top: 50px;

    padding: 0 13.125px;
    .page_introduce {
      ul {
        .page {
          width: 100%;
          position: relative;
          top: 0;
        }
        .Staff {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .introduce {
    padding: 0 13.125px;
    .page_introduce {
      ul {
        .page {
          width: 100%;
        }
        .Staff {
          width: 100%;
        }
      }
    }
  }
}
