.root {
  position: fixed;
  bottom: 40px;
  text-align: right;
  right: 35px;
  z-index: 2;
  button {
    border-radius: 5px;
    background: var(--primary-color-);
    color: white;
    &:hover {
      background: var(--color-hover-);
    }
  }
}
