.title {
  h4 {
    color: var(--primary-color-);
    span {
      margin-left: 10px;
    }
    a:hover {
      color: var(--color-hover-);
    }
  }
}
.content {
  .color,
  h2,
  h1 {
    color: var(--primary-color-);
  }
}
.anotherNews {
  h5 {
    color: var(--primary-color-);
    font-size: 1.1rem;
    font-weight: 600;
    width: fit-content;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 20px;
    &::before {
      content: "";
      height: 2px;
      background: var(--primary-color-);
      bottom: 0;
      position: absolute;
      width: 100%;
    }
  }
  .button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button,
    svg {
      font-size: 0.8rem;
      color: var(--primary-color-);
      transition: all 0.5s;
      &:hover {
        color: var(--color-hover-);
        background: transparent;
        margin-right: 5px;
      }
    }
  }
}
.relativeNews {
  margin: 20px 0;
  border-bottom: 1px solid var(--primary-color-);
  h5 {
    color: var(--primary-color-);
    font-size: 1.1rem;
    font-weight: 600;
    width: fit-content;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 20px;
    &::before {
      content: "";
      height: 2px;
      background: var(--primary-color-);
      bottom: 0;
      position: absolute;
      width: 100%;
    }
  }
}
.relativeNews,
.anotherNews .linkNews {
  a {
    display: block;
    color: var(--text-color-);
    transition: all 0.5s;
    margin-bottom: 5px;
    font-size: 0.9rem;
    &:hover {
      color: var(--color-hover-);
      letter-spacing: 0.1em;
    }
  }
}
@media screen and(max-width: 960px) {
  .title {
    h4 {
      font-size: 1.6rem;
    }
  }
  .content {
    h1,
    h2 {
      font-size: 1.2rem;
    }
    p,
    li {
      font-size: 0.9rem;
    }
  }
}

@media screen and(max-width: 600px) {
  .title {
    h4 {
      font-size: 1.6rem;
    }
  }
  .content {
    h1,
    h2 {
      font-size: 1.2rem;
    }
  }
}
