.container {
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 1242px;
  .leftBar {
    padding-top: 53px;
    padding-right: 20px;
    .listMenu {
      position: sticky;
      top: 105px;
      .item {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #dad4d4;
        font-size: 0.9rem;
        color: var(--text-color-);
        &:hover {
          color: var(--color-hover-);
          background: transparent;
        }
        &:last-child {
          border-bottom: 1px solid #dad4d4;
        }
      }
      .active {
        color: var(--primary-color-);
      }
    }
  }
  .rightBar {
    padding-left: 20px;
    h6 {
      width: fit-content;
      margin-bottom: 15px;
      font-size: 1.5rem;
      color: var(--primary-color-);
      font-weight: 600;
      cursor: pointer;
      &:hover {
        color: var(--color-hover-);
      }
    }
  }
}
@media screen and(max-width: 960px) {
  .container {
    .leftBar {
      padding-right: 50px;
      .listMenu .item {
        font-size: 0.8rem;
      }
    }
    .rightBar {
      padding-left: 0px;
    }
  }
}
@media screen and(max-width: 768px) {
  .container {
    .leftBar {
      padding-right: 50px;
      .listMenu .item {
        font-size: 0.7rem;
      }
    }
    .rightBar {
      padding-left: 0px;
    }
  }
}

@media screen and(max-width: 600px) {
  .container {
    margin-top: 60px;
    .leftBar {
      display: none;
    }
    .rightBar {
      padding-left: 0px;
      padding-right: 0;
      position: relative;
    }
  }
}
